/* line 4, ../sass/folder-large.scss */
.container {
  flex: 1;
  background: #fff;
  height: 100%;
  border-radius: 5px;
  opacity: 0.95;
}
/* line 10, ../sass/folder-large.scss */
.container .seclected-menu {
  display: flex;
  flex-flow: row nowrap;
}
/* line 13, ../sass/folder-large.scss */
.container .row {
  display: flex;
  flex-flow: row wrap;
  left: 0;
  position: relative;
  padding: 0 1.5rem;
}

/* line 22, ../sass/folder-large.scss */
.col-1 {
  height: 8rem;
  margin: 3px;
  padding: 6px;
  border-radius: 4px;
  position: relative;
  border: 1px solid transparent;
  font-size: 0.75rem;
  left: 0;
}
/* line 31, ../sass/folder-large.scss */
.col-1:hover {
  border-color: #f1f5fa;
  background: #f1f5fa;
}
/* line 34, ../sass/folder-large.scss */
.col-1:hover .true {
  opacity: 0.6;
}
/* line 38, ../sass/folder-large.scss */
.col-1 .file-con {
  display: flex;
  flex-direction: column;
}
/* line 42, ../sass/folder-large.scss */
.col-1.active {
  border-color: #90c3fd;
  background: #f1f5fa;
}
/* line 45, ../sass/folder-large.scss */
.col-1.active .true {
  opacity: 1;
}
/* line 50, ../sass/folder-large.scss */
.col-1 .true {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: #3b8cff;
  font-size: 12px;
  line-height: 19px;
  color: #fff;
  text-align: center;
  opacity: 0;
}
/* line 61, ../sass/folder-large.scss */
.col-1 .file {
  padding-top: 4px;
  align-self: center;
  padding-bottom: 23px;
}
/* line 65, ../sass/folder-large.scss */
.col-1 .file .grey-file {
  width: 27px;
  height: 6px;
  border-radius: 3px 6px 0 0;
  background: #ecc049;
}
/* line 71, ../sass/folder-large.scss */
.col-1 .file .main-file {
  width: 56px;
  height: 40px;
  background: #ffd659;
  border-radius: 0 3px 3px;
}
/* line 78, ../sass/folder-large.scss */
.col-1 .file-title {
  text-align: center;
  display: none;
}
/* line 81, ../sass/folder-large.scss */
.col-1 .file-title.show {
  display: block;
}
/* line 85, ../sass/folder-large.scss */
.col-1 .rename {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 140px;
  background: #fff;
  justify-content: space-between;
  left: 50%;
  bottom: 6px;
  transform: translate(-50%, 0);
  display: none;
  z-index: 999;
}
/* line 98, ../sass/folder-large.scss */
.col-1 .rename.show {
  display: flex;
}
/* line 102, ../sass/folder-large.scss */
.col-1 .rename input {
  width: 83px;
  height: 24px;
  border: 1px solid #c4dcff;
  box-shadow: 0 0 1px 3px rgba(182, 212, 255, 0.9);
  padding: 4px 5px;
}
/* line 109, ../sass/folder-large.scss */
.col-1 .rename .yes,
.col-1 .rename .no {
  width: 24px;
  height: 24px;
  border-radius: 2px;
  border: 1px solid #cee2ff;
  box-shadow: 0 0 1px 1px #cee2ff;
  text-align: center;
  color: #3b8cff;
  vertical-align: middle;
  line-height: 24px;
}
