html {
    font-size: 100%;
    width: 100%;
    height: 100%;
}

input {
    border: none;
    padding: 0px;
    outline: none;
}

body,
h1,
h2,
h3,
dl,
dd {
    margin: 0px;
}

h1,
h2,
h3 {
    font-weight: normal;
    padding: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

$control-color:#fff;
$bg-vip: #ffd91f;
@mixin sprite($left, $top, $width:20px, $height:20px) {
    background: url('../img/sprite.png');
    width: $width;
    height: $height;
    background-position: $left $top;
    display: inline-block;
    vertical-align: top;
}

@mixin flex($row:row,
$wrap:nowrap) {
    display: flex;
    flex-flow: $row $wrap;
}

@mixin shade($color:$control-color,
$per:10%) {
    color: shade($control-color, 10%);
}

@mixin hovered($left,
$top,
$width:20px,
$height:20px) {
    background: url('../img/sprite.png');
    width: $width;
    height: $height;
    background-position: -120+$left $top;
    display: inline-block;
    vertical-align: top;
}

@mixin sprite-before($left,
$top) {
    &::before {
        @include sprite($left,
        $top);
        content: '';
        position: absolute;
        left: -2.25em;
        top: 0.9375em;
    }
}

.logo {
    @include sprite(0,
    -230px,
    46px,
    40px);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body {
    font-size: 1em;
    background: url('../img/bg/bg8.jpg') no-repeat;
    background-size: auto 150%;
    background-attachment: fixed;
    height: 100%;
    padding-right: 10px;
    overflow:hidden;
}

.header {
    height: 4em;
    padding-top: 1em;
    @include flex();
    color: #fff;
}

h1 {
    flex-basis: 10.93rem;
    font-size: 1.5rem;
    line-height: 1.4;
    height: 100%;
    padding-left: 20px;
    display: flex;
}
.nav-con{
    flex:1;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.nav-bar {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    .nav {
        width: 2.4em;
        text-align: center;
        display: flex;
        flex-flow: column nowrap;
        margin: 0 1.8rem;
        &:hover span {
            @include shade();
        }
        &.active {
            i {
                margin-top: 4px;
                height: 4px;
                border-radius: 2px;
                background: #fff;
                margin-bottom: 0.5625em;
            }
        }
        span {
            line-height: 1.8;
        }
    }
}

.person-info {
    width: 34.375rem;
    font-size: 0.75rem;
    display: flex;
    flex-flow: row nowrap;
    margin-top: 0.5em;
    line-height: 2.17;
    justify-content: space-between;
    .personal-dropdown {
        display: flex;
        width: 12.5em;
        justify-content: space-between;
    }
    .avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #fff;
        border: 2px solid rgba(0, 0, 0, 0.2);
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    .info-ad {
        color: #fdd921;
        text-decoration: underline;
    }
    .vip-center {
        width: 6.33em;
        height: 2.17em;
        background: $bg-vip;
        text-align: center;
        border-radius: 1.085em;
        vertical-align: top;
        color: #cf7d0f;
    }
    .vip-icon {
        i {
            @include sprite(0px,
            -80px);
        }
    }
    .drop-down-icon {
        i {
            @include sprite(0,
            -120px);
        }
    }
    .down-client {
        &:hover {
            @include shade();
        }
    }
    .alert-icon {
        i {
            @include sprite(-40px,
            -80px);
        }
        &:hover i {
            @include hovered(-40px,
            -80px);
        }
    }
    .menu {
        i {
            @include sprite( -120px,
            -80px);
        }
        &:hover i {
            @include hovered(-120px,
            -80px);
        }
    }
    .skin {
        i {
            @include sprite(-80px,
            -80px);
        }
        &:hover i {
            @include hovered(-80px,
            -80px);
        }
    }
    .alert-icon,
    .menu,
    .skin,
    .drop-down-icon {
        margin-top: 0.25em;
    }
    .vip-center {
        &:hover {
            background: shade($bg-vip, 10%);
        }
    }
    .cut-line {
        margin-top: 0.5em;
        height: 0.75rem;
        width: 1px;
        background: $control-color;
    }
}


/*------------------------------ header--------------------------- */

.main {
    @include flex();
    height: 92.4465%;
    overflow: hidden;
}

$list-height: 2.8125rem;
.side-bar {
    font-size: 0.8em;
    flex-basis: 12.125rem;
    padding-top: 0.833333em;
    a,
    span {
        display: block;
        height: 100%;
    }
    a {
        padding-left: 4.333em;
        &:hover {
            background: rgba($control-color, 0.1);
        }
    }
    li {
        height: $list-height;
        line-height: $list-height;
        color: $control-color;
        &.active {
            background: rgba($control-color, 0.1);
        }
    }
    .my-passport span {
        position: relative;
        @include sprite-before(0,
        0);
    }
    .my-share span {
        position: relative;
        @include sprite-before(-40px,
        0);
    }
    .recycle-bin span {
        position: relative;
        @include sprite-before(-80px,
        0);
    }
}

.platform-info {}


/*---------------------------container------------------------------*/


/* .container {
    flex: 1;
    background: #fff;
    height: 100%;
    border-radius: 5px;
    .seclected-menu {
        @include flex();
    }
    .row {
        padding-left: 1.75em;
    }
}
 */


/*------------------file-nav-----------------------------------------*/

.file-nav {
    .up-load {
        i {
            @include sprite(0,
            -160px);
        }
    }
    .create-folder {
        i {
            @include sprite(-40px,
            -160px);
        }
        &:hover i {
            @include sprite(-160px,
            -160px);
        }
    }
    .off-line-download {
        i {
            @include sprite(-80px,
            -160px);
        }
        &:hover i {
            @include sprite(-200px,
            -160px);
        }
    }
    .my-device {
        i {
            @include sprite(-120px,
            -160px)
        }
        &:hover i {
            @include sprite(-240px,
            -160px);
        }
    }
    .up-load,
    .create-folder,
    .off-line-download,
    .my-device {
        & i {
            margin-top: -2px;
            margin-right: 0.5rem;
        }
    }
}
/*----------------shade--------------*/
.container{
    position: relative;
}
.huge-shade{
    width: 100%;
    height: 100%;
    position:absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    z-index: 2;
    transform: scale(0);
}

/*---------------rename----------------*/
.sub-nav{
    @include flex();
    display:none;
}
.disable{
    color: #9dc5ff !important;
    border-color: #9dc5ff !important;
    a {
	cursor: default;
    }
}
/*-----------------rename end-----------*/
.count-load-file {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.75em;
    color: #666666;
    padding: 0 1rem 1rem;
}

.alert-module{
    padding: 1rem;
}

/*--------------------------folder-----------------------------------*/

$check-border:#d6dce4;
.select-all {
    font-size: 0.75em;
    color: #888;
    padding-bottom: 0.83333em;
    display: flex;
    .true {
        margin: 0 1.08333em;
        width: 14px;
        height: 14px;
        border: 1px solid $check-border;
        font-size: 0.75rem;
        line-height: 1.58;
        text-align: center;
	&.active{
	    background-image: url('../img/correct.png');
	    background-size: 12px;
	    background-repeat: no-repeat;
	}
    }
    .check-all {
        display: flex;
        width: 86.0833em;
    }
    .bit-all {
        width: 22.6667em;
        padding-left: 0.5em;
    }
    .date-all {
        padding-left: 0.5em;
    }
}
.bread-crumb{
    & li{
	cursor:pointer;
    }
}

/*---------------------------select-all----------------------------------*/


/* .container {
    flex: 1;
    background: #fff;
    height: 100%;
    border-radius: 5px;
    .seclected-menu {
        @include flex();
    }
    .row {
        @include flex(column,
        nowrap);
        left: 0;
        position: relative;
    }
}


$file-icon-base: 10px;
.col-1 {
    max-width: 100% !important;
    flex: 1 !important;
    font-size: 0.75rem;
    border-radius: 8px;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    left: 0;
    border-top: 1px solid #f2f6fd;
    border-bottom: 1px solid #f2f6fd;
    margin-top: -1px;
    .file-con {
        width: 86.0833em;
        display: flex;
    }
    .file-bit {
        width: 22.6667em;
        line-height: 50px;
    }
    .change-date {
        line-height: 50px;
    }
    .file {
        padding-top: 1em;
        align-self: center;
        padding-bottom: 1.25em;
        .grey-file {
            width: 1.2*$file-icon-base;
            height: 0.3*$file-icon-base;
            border-radius: 3px 6px 0 0;
            background: #ecc049;
        }
        .main-file {
            width: 2.6*$file-icon-base;
            height: 1.8*$file-icon-base;
            background: #ffd659;
            border-radius: 0 3px 3px;
        }
    }
    .true {
        margin: 1.25em 1.08333em 0;
        width: 14px;
        height: 14px;
        border: 1px solid $check-border;
        font-size: 0.75rem;
        line-height: 1.58;
        text-align: center;
        border-radius: 2px
    }
    .file-title {
        margin-left: 1.25em;
        margin-top: 1.25em;
    }
}

.file-title {
    text-align: center;
    cursor: pointer;
}

.rename {
    $box-shadow: #b6d4ff;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: #fff;
    justify-content: space-between;
    left: 6.6667em;
    bottom: 1em;
    /*     display: none; 
    input {
        width: 17.6667em;
        height: 24px;
        border-radius: 5px;
        border: 1px solid #c4dcff;
        box-shadow: 0 0 1px 3px rgba($box-shadow, 0.9);
        padding: 4px 5px;
        margin-right: 4px;
    }
    .yes,
    .no {
        width: 24px;
        height: 24px;
        border-radius: 2px;
        border: 1px solid #cee2ff;
        box-shadow: 0 0 1px 1px #cee2ff;
        text-align: center;
        color: #3b8cff;
        vertical-align: middle;
        line-height: 24px;
        margin: 0 2px;
    }
} */

.container {
    flex: 1;
    background: #fff;
    height: 100%;
    border-radius: 5px;
    opacity:0.95;
    .seclected-menu {
        @include flex();
    }
    .row {
        @include flex(row,
        wrap);
        left: 0;
        position: relative;
        padding: 0 1.5rem;
    }
}

.col-1 {
    margin: 3px;
    padding: 6px;
    border-radius: 4px;
    position: relative;
    border: 1px solid transparent;
    font-size: 0.75rem;
    left: 0;
    &:hover {
        border-color: #f1f5fa;
        background: #f1f5fa;
        .true {
            opacity: 0.6;
        }
    }
    .file-con {
        display: flex;
        flex-direction: column;
    }
    &.active {
        border-color: #90c3fd;
        background: #f1f5fa;
        .true {
            opacity: 1;
        }
    }
    
    .true {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: #3b8cff;
        font-size: 12px;
        line-height: 19px;
        color: #fff;
        text-align: center;
        opacity: 0;
    }
    .file {
        padding-top: 4px;
        align-self: center;
        padding-bottom: 23px;
        .grey-file {
            width: 27px;
            height: 6px;
            border-radius: 3px 6px 0 0;
            background: #ecc049;
        }
        .main-file {
            width: 56px;
            height: 40px;
            background: #ffd659;
            border-radius: 0 3px 3px;
        }
    }
    .file-title {
        text-align: center;
	display:none;
	&.show{
	    display:block;
	}
    }
    .rename {
        $box-shadow: #b6d4ff;
        position: absolute;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 140px;
        background: #fff;
        justify-content: space-between;
        left: 50%;
        bottom: 6px;
        transform: translate(-50%, 0);
        display: none;
	&.show{
	    display:flex;
	}
	z-index:999;
        input {
            width: 83px;
            height: 24px;
            border: 1px solid #c4dcff;
            box-shadow: 0 0 1px 3px rgba($box-shadow, 0.9);
            padding: 4px 5px;
        }
        .yes,
        .no {
            width: 24px;
            height: 24px;
            border-radius: 2px;
            border: 1px solid #cee2ff;
            box-shadow: 0 0 1px 1px #cee2ff;
            text-align: center;
            color: #3b8cff;
            vertical-align: middle;
            line-height: 24px;
        }
    }
}


/*------------------------file-end------------------------*/

/*-----------------------chang-skin----------------------------*/
.change-skin{
    $change-skin-color: #000;
    width: 100%;
    height: 19.375em;
    background: rgba($change-skin-color,0.75);
    position:absolute;
    bottom: 0;
    display:none;
    justify-content: center;
    &.show{
	display: flex;
    }
    .change-skin-main{
	width: 55rem;
	height: 100%;
	@include flex(column,nowrap);
    }
    h2{
	color: #fff;
	line-height: 2;
    }
    .skin-con{
	display: flex;
	flex-flow: row nowrap;
    }
    .choose-skin{
	flex-basis:32.6875rem;
	height: 12rem;
	background: #fff;
	margin-right: 0.75rem;
    }
    .show-skin{
	background: #333;
	flex:1
	
    }
}
/*-------------------alert-box--------------------------*/

.alert-box{
    font-size: 0.75rem;
    position: absolute;
    left:50%;
    top: -50px;
    transform: translate(-50%,0);
    padding:1em;
    border-radius: 5px;
    z-index: 10;
    &.error{
	background: #ff6e6e;
	color: #fff;
    }
    &.success{
	background: #3b8cff;
	color: #fff;
    }
}

/*---------------------prompt-box-----------------------*/
	$btn-main-color: #3b8cff;
	$btn-sub-color: #c0d9fe;
.prompt{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    position:absolute;
    left: 0px;
    top: 0px;
    z-index: 99;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    color: #666666;
    display:none;
    &.show{
	display:flex;
    }
    .prompt-box{
	width: 26rem;
	border-radius: 6px;
	background: $control-color;
	position:absolute;
	@include flex(column,nowrap);
	overflow:hidden;
		h4{
	    font-size: 0.875rem;
	    line-height: 3;
	    padding-left: 1rem;
	    background: #f7faff;
	    border-bottom: 1px solid #c4dbfe;
	    color: #727c90;
		}
		
    }
    .delete-box{
	height: 15rem;
    }
    
}


.main-prompt{
    padding-top: 3em;
    line-height: 1.75;
    width: 24em;
    height: 13.3333em;
    align-self: center;
    text-align: center;
    overflow:hidden;

    .menu{
    text-align: left;
    background: $control-color;
    width: 100%;
    border: 1px solid #e5e0e0;
    .file {
        align-self: center;
	padding-top: 4px;
	margin-right: 8px;
        .grey-file {
            width: 8px;
            height: 2px;
            border-radius: 1px 2px 0 0;
            background: #ecc049;
        }
        .main-file {
            width: 16px;
            height: 11px;
            background: #ffd659;
            border-radius: 0 1px 1px;
        }
	&.open{
	    .main-file{
		transform: skewX(-5deg);
	    }
	}
    }
    ul{
	margin: 0;

	.li-title{
	    line-height: 2;
	    border: 1px solid transparent;
	    display: flex;
	    margin-top: -1px;
	    	    &:hover{
		padding: -1px;
		border: 1px solid rgba($btn-sub-color,0.4);
		background: rgba($btn-sub-color,0.2);
	    }
	    &.active{
		padding: -1px;
		border: 1px solid rgba($btn-sub-color,0.9);
		background: rgba($btn-sub-color,0.8);
		&:hover{
		    		border: 1px solid rgba($btn-sub-color,0.9);
		background: rgba($btn-sub-color,0.8);
		}
	    }
	}
    }
}
    .btn-confirm{
	margin-top: 1em;
	width: 100%;
	display: flex;
	justify-content: center;
    }
    .btn{
	width: 8em;
	height: 2.66667em;
	line-height: 2.66667em;
	padding: 0px;
	margin: 0.2em;
	border-radius: 4px;
	&.btn-submit{
	    background: $btn-main-color;
	    color:#ffffff;
	    border: 1px solid $btn-main-color;
	}
	&.btn-cancel{
	    border: 1px solid $btn-sub-color;
	    color: $btn-main-color;
	}
    }
}

.vip-ad{
    display:flex;
    justify-content: space-between;
    padding: 0 0.5em;
    background: #faf2d3;
    line-height: 3;
    height: 3em;
}
.vip-sign-btn{
    background: #fd6d65;
    margin-top: 0.5em;
    padding: 0  0.75em;
    color: $control-color;
    line-height: 2;
    height: 2em;
    border-radius:1px;
    cursor: pointer;
}

.infinity-menu{
    height: 18.125rem;
    .menu-con{
	width: 100%;
	height: 11.875rem;
	padding: 0 0.5rem;
	background-clip: content-box;
	
    }
    .create-folder {
	margin-right: 7em;
	white-space: nowrap;
            i {
		margin-right: 0.1em;
            @include sprite(-40px,
            -160px);
        }
            &:hover i {
            @include sprite(-160px,
            -160px);
        }
	}
    .btn-small{
	width: 6.6rem;
	height: 2.66667em;
	border: 1px solid $btn-sub-color;
	color: $btn-main-color;
	border-radius: 4px;
	line-height: 1.6667em;
	padding: 0.5em;
	text-align: center;
	&.submit{
	    background: $btn-main-color;
	    color: $control-color;
	}
	&.submit,&.cancel{
	    margin: 0 0.3em;
	}
    }
    
}

.btn-group{
    flex-grow:1;
    display:flex;
    align-items: center;
    padding: 0 0.5rem;
}
/*--------------------------------------------------------------*/
