// Base class
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s or `<ul>`s.
$link-color-primary:#3b8cff;
$component-active-color: #ffffff;
$component-active-bg: $link-color-primary;
$border-width: 1px;
$border-radius: 5px;
$body-bg: #fff;
$gray-600: #868e96;
$gray-900: #212529;
$gray-200: #e9ecef;
$nav-link-padding-y: .5rem !default;
$nav-link-padding-x: 1rem !default;
$nav-link-disabled-color: $gray-600 !default;
$nav-tabs-border-color: $link-color-primary !default;
$nav-tabs-border-width: $border-width !default;
$nav-tabs-border-radius: $border-radius !default;
$nav-tabs-link-hover-border-color: $gray-200 !default;
$nav-tabs-link-active-color: $gray-600 !default;
$nav-tabs-link-active-bg: $body-bg !default;
$nav-tabs-link-active-border-color: #ddd !default;
$nav-pills-border-radius: $border-radius !default;
$nav-pills-link-active-color: $component-active-color !default;
$nav-pills-link-active-bg: $component-active-bg !default;
$nav-font-size: 0.75rem;
.navbar {
    padding: 1em;
    font-size: $nav-font-size;
    display: flex;
    flex-flow: row no-wrap;
}

.nav {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    padding-left: 0px;
    margin-bottom: 0;
    list-style: none;
    & .nav-link {
        border: $nav-tabs-border-width solid $link-color-primary;
        color: $link-color-primary;
        &:hover {
            background: tint($component-active-color, 10);
            color: tint($link-color-primary, 20%);
        }
    }
    & .nav-item {
        margin: 0 5px;
    }
}

.selected-show-menu {
    .nav-link {
        margin: 0 0 0 -1px;
    }
}

.nav-link {
    display: block;
    padding: $nav-link-padding-y $nav-link-padding-x;
    // Disabled state lightens text
    &.disabled {
        color: $nav-link-disabled-color;
    }
}

//
// Tabs
//
.nav-tabs {
    border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;
    &.disabled {
        color: $nav-link-disabled-color;
        background-color: transparent;
        border-color: transparent;
    }
}

.nav-link.active,
.nav-item.show .nav-link {
    color: $nav-tabs-link-active-color;
    background-color: $nav-tabs-link-active-bg;
    border-color: $nav-tabs-link-active-border-color $nav-tabs-link-active-border-color $nav-tabs-link-active-bg;
}

.dropdown-menu {
    // Make dropdown border overlap tab border
    margin-top: -$nav-tabs-border-width;
    // Remove the top rounded corners here since there is a hard edge above the menu
    @include border-top-radius(0);
}

//
// Pills
//
.nav-pills {
    .nav-link {
        border-radius: 3px;
        &.active,
        .show>& {
            color: $nav-pills-link-active-color;
            background-color: $nav-pills-link-active-bg;
        }
    }
}

.search {
    width: 25.325rem;
    padding-right: 1.5rem;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    i {
        color: #5f6f95;
        font-size: 1rem;
        line-height: 2;
        vertical-align: top;
    }
    .search-border {
        display: flex;
        justify-content: space-between;
        width: 19.5em;
        height: 2rem;
        line-height: 2;
        border-radius: 1em;
        background: #f1f2f4;
        padding-left: 1rem;
        padding-right: 1rem;
        input {
            flex: 1;
            height: 100%;
            background: none;
        }
        i {
            color: #8a8a8b;
        }
    }
}