$color1:#000;

$control-color:#fff;
$bg-vip: #ffd91f;

$box-shadow: #b6d4ff;

$change-skin-color: #000;

$btn-main-color: #3b8cff;
$btn-sub-color: #c0d9fe;

$check-border:#d6dce4;

$file-icon-base: 10px;
